
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  background: darkslateblue;
  padding: .6em 0;
  color: white;
  margin: 0;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

    
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
}
